<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @projectt.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @projectt.description %>
</p>

<p>
  <strong>Start_Date:</strong>
  <%= @projectt.start_date %>
</p>

<p>
  <strong>End_Date:</strong>
  <%= @projectt.end_date %>
</p>

<p>
  <strong>Cost_Of_Project:</strong>
  <%= @projectt.cost_of_project %>
</p>

<p>
  <strong>Status:</strong>
  <%= @projectt.status %>
</p>

